<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- ####### Filtro para configuração do Encoding utilizado nas requisições ####### -->
    <filter>
        <filter-name>ConexaoFilter</filter-name>
        <filter-class>filtros.ConexaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConexaoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnunciarServlet</servlet-name>
        <servlet-class>servlets.AnunciarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Anuncio</servlet-name>
        <servlet-class>servlets.AnuncioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoServlet</servlet-name>
        <servlet-class>servlets.ContatoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnunciarServlet</servlet-name>
        <url-pattern>/anunciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Anuncio</servlet-name>
        <url-pattern>/anuncio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoServlet</servlet-name>
        <url-pattern>/contato</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
